body {
  background-color: #23272d;
  color: #ffffff;
  font: 1.2em / 1.5  sans-serif;
  padding-bottom: 2.5rem;
  margin: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto auto 1fr;

  width:95%;
  height: 100%;
  text-align:left;
  margin-left:50px;
  margin-right:50px;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
  margin-left:50px;
  margin-right:50px;
  display:grid;
  grid-template-columns: auto 1fr;
}

#content-wrap3 {
  padding-bottom: 0.03rem;    /* Footer height */
  margin-left:30px;
  margin-right:30px;
  display:grid;
  grid-template-columns: 1fr auto;
}

#content-wrap2 {
  padding-bottom: 1.5rem;    /* Footer height */
  margin-left:10px;
  margin-right:10px;
  display:grid;
  grid-template-rows: auto 1fr;
}

#content-wrapTopics {
  padding-bottom: 0.01;    /* Footer height */
  margin-left:10px;
  margin-right:10px;
  display:grid;
  grid-row-gap: 0;
  max-height: 0
}

#comment-wrap {
  padding-bottom: 0.03rem;    /* Footer height */
  margin-left:10px;
  margin-right:10px;
  display:grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
}

#comment-id {
  text-align:center
}

#comment-content{
  padding-bottom: 0.03rem;    /* Footer height */
  margin-left:10px;
  margin-right:10px;
  display:grid;
  grid-template-rows: auto;
  grid-row-gap: 10px;
}

#header {
  padding-top: 25px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  text-align:center;
  color:#33FFA9;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  text-align:center;
}

/*     TOP NAVBAR     */
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: italic;
}

/* Change the link color to  on hover */
#navbar li a:hover {
  color: #8EB8E5;
}
 
#index #navbar .index, #stats #navbar .stats, #forum #navbar .forum, #rules #navbar .rules, #login #navbar .login, #signup #navbar .signup{
  color:#52FFB8;
}

/*      SIDEBAR     */
#side-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

#side-bar li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-style:italic;
}

/* Change the link color on hover */
#side-bar li a:hover {
  background-color: #555;
  color: #8EB8E5;;
}

a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-style:italic;
}

/* Change the link color on hover */
a:hover {
  color: #8EB8E5;;
}

#overall .overall, #airshots .airshots, #kills .kills, #scout .scout, #soldier .soldier, #demo .demo, #medic .medic{
  color:#52FFB8;
}

.topic {
    width: 70%;
}
 
.author {
    width: 15%;
}

.date{
	width: 15%
}
 
.small {
    font-size: 75%;
    color: #373737;
}
 
.topic-post {
    height: 100px;
    overflow: auto;
}
 
.post-content {
    padding: 30px;
}
 
textarea {
    width: 500px;
    height: 200px;
}

/*left table index */
table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    content: "";
    display: table-cell;
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}

img{
    width:100%;
    max-width:300px;
	max-width:300px;
}

/*player page*/
#player-id {
  margin-left:50px;
  margin-right:50px;
  display:grid;
  grid-template-columns: 1fr auto auto auto;
  vertical-align: bottom;
}

#player-bests {
  margin-left:50px;
  margin-right:50px;
  display:grid;
  grid-template-columns: auto auto auto auto;
}

#player-bests-class{
}

